.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;

     .header & { 
      display: flex;
      align-items: center;
    } 

    .hero & {
      text-align: center;
      align-items: center;
    }
    .footer & {
      display: flex;
      align-items: baseline; 
    }
  }
  